.contact{
    .contact__content{
        @include glassBG();
        @include Container();
        padding-bottom: $pd-3 + 50;
        .getintouch{
            text-align: center;
            @include Text($fs-3,$color-white);
        }
        .contact__items{
            @include Text($fs-0,$color-white);
            .info{
                ul{
                    li{
                        span{
                            font-size: $fs-4;
                            i{
                                color: $color-orange-2;
                            }
                        }
                    }
                }
            }
            .contact__form{
                #message{
                    resize: none;
                }
                button{
                    width: 30%;
                    margin: auto;
                    i{
                        transform: rotate(40deg);
                    }
                }
                .helpText,#noti{
                    @include Text($fs-3,$color-red-0);
                    font-weight: $fw-700;
                }
                #noti{
                    text-align: center;
                }
            }
        }
    }
}
@media screen and (max-width:1023.98px) {
    .contact{
        .contact__content{
            .contact__items{
                flex-direction: column;
                align-items: center;
                .info{
                    text-align: center;
                    ul{
                        padding: 0;
                    }
                }
                .contact__form{
                    button{
                        width: calc(100% - 60px);
                    }
                }
            }
        }
    }
}
@media screen and (max-width:423.98px) {
    .contact{
        .contact__content{
            .contact__items{
                .info{
                    p{
                        word-break: break-all;
                    }
                }
                .contact__form{
                    button{
                        width: 100%;
                    }
                }
            }
        }
    }
}