.portfolio{
    .portfolio__content{
        @include glassBG();
        @include Container();
        .owl-item.active{
            .portfolio__overlay{
                animation: animateTranslateX 3s ease-in-out;
                .headline{
                    animation: animateTranslateY 2s ease-in-out 1.25s;
                }
                .description{
                    animation: animateTranslateY 2s ease-in-out 1.5s;
                }
            }
        }
        .portfolio__items{
            .portfolio__img{
                position: relative;
                width: calc(100% - 300px);
                margin: auto;
                img{
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
            .portfolio__overlay{
                position: absolute;
                bottom: 0;
                padding: $pd-0;
                background: rgba(0,0,0,0.5);
                @include Text($fs-0,$color-white);
                border-radius: 15px;
                max-height: 400px;
                max-width: 500px;
                .description{
                    li{
                        list-style: square;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1023.98px) {
    .portfolio{
        .portfolio__content{
            .owl-item.active{
                .portfolio__overlay{
                    animation: none;
                    .headline,.description{
                        animation: none;
                    }
                }
            }
            .portfolio__items{
                .portfolio__img{
                    width: 100%;
                }
                .portfolio__overlay{
                    position: static;
                    max-height: inherit;
                    max-width: 100%;
                    font-size: $fs-1 - 2;
                }
            }
        }
    }
}
@keyframes animateTranslateY{
    0%,50%{
        transform: translateY(-130px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes animateTranslateX{
    0%,50%{
        transform: translateX(-130px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}