.resume{
    .resume__content{
        @include glassBG();
        @include Container();
        h2{
            border-bottom: 1px solid $color-black;
        }
        .education{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .experience{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .sub__list{
                padding: 0;
                .sub__item{
                    margin-left: $mg-3;
                    list-style: outside;
                }
            }
        }
        .education__item,.experience__item{
            width: calc(100% - 200px);
            @include glassBG();
            margin: $mg-3 0;
            padding: $pd-1;
            ul{
                li{
                    list-style: square;
                }
            }
        }
    }
}
@media screen and (max-width:767.98px) {
    .resume{
        .resume__content{
            .education__item,.experience__item{
                width: 100%;
            }
        }
    }
}