//Color
$color-black: #000000;
$color-white: #ffffff;
$color-blue-0: #00FFFF;
$color-blue-1: #87CEFA;
$color-blue-2: #87CEEB;
$color-blue-3: #00BFFF;
$color-blue-4: #0000FF;
$color-blue-5: #00008B;
$color-purple-1: #9370DB;
$color-purple-2: #4B0082;

//Font size
$fs-0: 16px; //default
$fs-1: 12px;
$fs-2: 14px;
$fs-3: 18px;
$fs-4: 20px;

//Font weight
$fw-normal: normal;
$fw-bold: bold;
$fw-400: 400;
$fw-600: 600;
$fw-700: 700;

//Margin
$mg-0: 5px;
$mg-1: 10px;
$mg-2: 15px;
$mg-3: 20px;

//Padding
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 15px;
$pd-3: 20px;